.outerb {
  background-color: aliceblue;
  display: flex;
  justify-content: safe;
  padding-left: 10%;
  padding-right: 10%;
}
.sideabout {
  width: 20%;
  height: 100%;
}
.sidetab {
  padding: 30px;
  margin: 2%;
  border-radius: 5px;
  text-align: center;
  color: aliceblue;
  background-color: blue;
}
a {
  text-decoration: none;
}
.sidetab2 {
  background-color: #1ec9ac;
  border-radius: 5px;
  margin: 5px;
  padding: 35px;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 125%;
  border: 3px solid rgba(48, 184, 104, 0.801);
}
.aboutdetails {
  padding: 4%;
  width: 60%;
}
.aboutdetails h2 {
  text-align: center;
}
.aboutdetails p {
  text-align: left;
}
.aboutdetails ul {
  list-style: none;
  padding-left: 2%;
}

@media screen and (max-width: 900px) {
  .outerb {
    display: inline-block;
    width: 80%;
  }
  .sideabout {
    width: 100%;
    text-align: center;
  }
  .sidetab {
    display: inline-block;
    width: 20%;
    font-size: 70%;
    padding: 2%;
  }
  .sidetab2 {
    padding: 2%;
    width: 90%;
    font-size: 80%;
  }
  .aboutdetails {
    min-height: 44vh;
    font-size: 80%;
    width: 100%;
  }
}
